
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #404040;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6 { color: #222; font-weight: bold; }
b, strong { color: #111; }
a { color: #00f; }
a:visited { color: #808; }
a:hover { color: #00a; }
abbr { border-bottom: 1px dotted #aaa; }
#content { width: 800px; margin: 2em auto; position: relative; }
pre { border: 1px solid #e1e1e8; border-radius: 4px; font-family: "Consolas", "Monaco", monospace; background-color: #f7f7f9; padding: 2px 5px; color: #000; overflow: auto; }
code { font-size: 14px; font-weight: bold; color: #000; background-color: #f7f7f9; display: inline-block; }

pre code { font-weight: normal; color: #48484c; padding: 8px;}

.input label { width: 200px; text-align: right; display: inline-block; }
input[type=text], input[type=password] { width: 30em; border: 1px solid #888; padding: 3px; }
.input { margin-bottom: 5px; }
.submit { margin-left: 200px; }

#edit-page #title { font-size: 30px; width: 80%; font-weight: bold; background-color: #f7f7f9; }
#edit-file textarea, #edit-page textarea {
    border: 0;
    width: 100%;
    min-height: 35em;
    color: #48484c;
    padding: 8px;
    font-size: 16px;
}
#edit-file textarea, #edit-page textarea, #edit-page input[type=text] { padding: 5px 10px; border: 1px solid #eee; border-radius: 3px; }
.right {
    text-align: right;
}
.right label { width: 100%; display: inline; }
.secret { 
    font-family: "Consolas", "Monaco", monospace;
    padding: 5px;
    background: #eee;
    border-radius: 5px;
    margin-left: 1em;
}
#config-form {
    margin-top: 1em;
}
div.checkbox { margin-bottom: 1em; }
.checkbox input[type=checkbox] { margin-left: 200px; }
.note, .error {
    padding: 5px 10px;
    border-radius: 3px;
    margin: 1em;
}
.error {
    color: #d21;
    background-color: #fee;
}
.note {
    color: #607848;
    background-color: #ef8;
}

/* prettify */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  overflow-x: auto;
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0; padding: 0;
  margin: 0 0 0 33px; /* IE indents via margin-left */
  list-style: decimal;
} 
ol.linenums li {
  padding: 1px 0;
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}
#page-info-toggle-container {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}
#page-info-toggle {
    font-size: 14px;
}
#page-info {
    position: relative;
    overflow: hidden;
    display: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 0 10px;
    background-color: #f8f8f8;
}

.fromlinks, .tolinks {
    width: 50%;
    margin: 0;
    padding: 0;
}
.fromlinks {
    float: left;
}
.tolinks {
    float: right;
}

#page-info h4 {
    font-size: 18px;
    color: #666;
}

